/* Background Colors */
.bg-dark {
    background-color: #263238 !important;
}

/* Border Colors */
.border-primary {
    border-color: #0097b2 !important;
}

.border-warning {
    border-color: #ff660f !important;
}

/* Buttons */
.btn-primary {
    background-color: #004d66;
    border: #004d66;
}

.btn-primary:hover {
    background-color: #0097b2;
}

/* Content */
.content {
    padding: 20px;
    flex-grow: 1;
    background-color: #f4f4f4;
    overflow-y: auto;
}

/* Default card size */
.job-list-card {
    width: 100%;
}

.sidebar-visible .job-list-card {
    width: calc(100% - 30vw);
}

.job-list-card:hover {
    border-color: #0097b2;
}

/* Footer */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Flexbox Centering */
.homeOverlay, .loading-container, .overlay {
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    padding: 20px;
    justify-content: flex-start;
}

.loading-container {
    height: 100vh;
    width: 100vw;
    background-color: #f8f9fa;
    color: #000;
    font-size: 1.5rem;
    text-align: center;
}

/* For mobile screens (max-width: 768px) */
@media (max-width: 768px) {
    .search-bar.mobile .input-group {
        display: none;
    }

    .search-bar.mobile input,
    .search-bar.mobile select {
        width: 100%;
        margin-bottom: 10px;
    }

    .search-bar.mobile .btn {
        width: 100%;
    }

    .right-sidebar {
        right: 0;
        bottom: 0;
        top: auto;
        width: 100%;
        height: 85vh;
        transform: translateY(100%);
    }

    .right-sidebar.show {
        transform: translateY(0);
    }

    .job-list-card {
        flex: 1 0 100% !important;
        width: 100% !important;
    }

    .job-list-card .col {
        flex: 1 0 100% !important;
    }

    .right-sidebar-content h2 {
        font-size: 1.5rem;
    }

    .right-sidebar-content h5 {
        font-size: 1.2rem;
    }

    .list-group-item p {
        font-size: 0.9rem;
    }
}

/* For larger screens (min-width: 768px) */
@media (min-width: 768px) {
    .content-wrapper {
        margin-left: 250px;
    }

    .search-bar.mobile input,
    .search-bar.mobile select {
        width: auto;
    }

    .sidebar .nav-item {
        width: 200px;
    }

    .sidebar .nav-item.active .sidebar-nav-link {
        width: 200px;
    }
}

/* For larger screens (min-width: 768px) */
@media (min-width: 768px) {
    .search-bar.mobile input,
    .search-bar.mobile select {
        width: auto;
    }
}

/* Modal Styles */
.modal-content-right {
    border-radius: 0;
}

.modal-dialog-right {
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

.modal-header-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-right {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 300px;
    max-width: 100%;
    border: none;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
}

/* Profile */
.profileContainer {
    position: relative;
    width: 100%;
    height: 300px;
}

.profilePicture {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 120px;
    z-index: 2;
}

.profilePicture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Sidebar */
.sidebar {
    width: 250px;
    background-color: #343a40;
    color: white;
    position: fixed;
    height: 100vh;
    padding: 20px;
    overflow-y: hidden !important;
}

.sidebar .logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar nav ul li {
    margin-bottom: 10px;
}

.sidebar .sidebar-nav-link {
    color: white;
    text-decoration: none;
    display: block;
    padding: 0.5rem 1rem;
}

.sidebar .nav-item.active .sidebar-nav-link {
    background: linear-gradient(to right, #004d66, #0097b2, #ff6600);
    border-radius: 0 15px 15px 0;
    color: white;
    width: 100%;
    box-sizing: border-box;
}

@media (min-width: 768px) {
    .sidebar .nav-item {
        width: 200px;
    }

    .sidebar .nav-item.active .sidebar-nav-link {
        width: 200px;
    }
}

/* Right Sidebar */
.right-sidebar {
    background-color: #f8f9fa;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
    overflow-y: auto;
}

.right-sidebar.show {
    transform: translateX(-100%);
}

/* Right Sidebar for Desktop */
@media (min-width: 768px) {
    .right-sidebar {
        position: fixed;
        top: 0;
        right: 0; 
        width: 36vw; /* Adjust the width as needed */
        height: 100vh;
        transform: translateX(100%);
        overflow-y: auto;
        transition: transform 0.3s ease-in-out;
        z-index: 1000;
    }

    /* Show sidebar when 'show' class is active */
    .right-sidebar.show {
        transform: translateX(0);
    }
}

/* Sidebar for mobile screen */
@media (max-width: 768px) {
    .right-sidebar {
        right: 0;
        bottom: 0;
        top: auto;
        width: 100%;
        height: 85vh;
        transform: translateY(100%);
    }

    .right-sidebar.show {
        transform: translateY(0);
    }
}

/* Sidebar bottom */
.sidebar-bottom {
    bottom: 1vh;
    width: 90%;
    position: absolute;
    display: flex;
    justify-content: center;
}

/* Search Container */
.searchContainer {
    position: relative;
    width: 100%;
}

.searchBackgroundImage, .profileBackgroundImage {
    background-size: cover;
    background-position: middle;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.searchBackgroundImage {
    z-index: -1;
}

.profileBackgroundImage {
    z-index: 1;
}

/* Skill Item */
.skill-item {
    flex: 0 1 auto;
}

/* Toggle Icon */
.toggle-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.toggle-icon:hover {
    opacity: 0.8;
}

.icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/* Job Nav */
.job-nav {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.job-nav button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Bookmark Button */
.bookmark-btn:hover {
    background-color: cadetblue !important;
}

.dropdown-hover:hover {
    background-color: #004d66 !important;
}

#logo {
    min-width: 5rem;
    max-width: 10rem;
}

#job-listing-card {
    max-width: 30rem;
    min-width: 30rem;
}

.img-fluid {
    max-width: 100%;
    max-height: 50vh;
    height: auto;
}

.candidate-card {
    border: 1px solid #ddd;
    padding: 16px;
    margin-bottom: 16px;
    border-radius: 8px;
}

.candidate-card h2 {
    font-size: 1.5rem;
    margin-bottom: 8px;
}

.candidate-card p {
    margin: 4px 0;
}

.candidate-card a {
    display: inline-block;
    margin-top: 8px;
    text-decoration: none;
    color: #007BFF;
}

#profileIcon {
    font-size: xx-large;
}

.scrollable-container {
    max-height: 80vh;
    overflow-y: auto !important;
    padding-right: 1rem;
    height: 100vh;
    overflow: hidden;
}